body{
  background-color: #B5FFE1;
  color: black;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  background: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#wrapper { 
margin: 2em auto;
max-width: 960px ; 
padding: 0 2em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.article{
  padding: 20px 0;
  background-color: #fff;
}

h1, p { 
   margin-left: 20px; 
   margin-right: 20px;
   }
P{ 
  font-weight: 300; 
  line-height: 1.6
}

h1{
 font-family: 'Roboto', sans-serif;
 font-weight: 900;
  margin-top: 0;  
}